{% extends 'base.html.twig' %}

{% block title %}Products page{% endblock %}

{% block body %}
    <h2>Products</h2>

    {% for product in products %}
        <p>
            <a href="{{ path('product', { id: product.id }) }}">View {{ product.name }}</a>
        </p>
    {% endfor %}
    {% if previous >= 0 %}
        <a href="{{ path('products', { offset: previous }) }}">Previous</a>
    {% endif %}
    {% if next < products|length %}
        <a href="{{ path('products', { offset: next }) }}">Next</a>
    {% endif %}
{% endblock %}